{% load staticfiles %}
<html>
    <head>
        <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/two.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ace-builds/src-noconflict/ace.js' %}"></script>
        <style>
            #editor {
                margin: 0;
                position: absolute;
                top: 50px;
                left: 50%;
                width: 50%;
                height: calc(100% - 50px);
            }

            #canvas {
                z-index: 2;
                width: 50%;
                height: calc(100% - 50px);
                position: absolute;
                top: 50px;
                left: 0;
            }

            #click-layer {
                z-index: 1000;
                position: absolute;
                width: 50%;
                height: calc(100% - 50px);
                top: 50px;
                left: 0;
            }

            .button-icon {
                margin-right: 10px;
            }

            .navbar-default .navbar-nav>li>a:hover {
                background-color: #e7e7e7;
            }
        </style>
    </head>

    <body style="margin: 0;">
        <nav class="navbar navbar-default ">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Browser Graphics</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li> -->
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:saveCode(editor)"><span class="button-icon glyphicon glyphicon-floppy-save"></span>Save</a></li>
                <li><a href="javascript:runCode(editor)"><span class="button-icon glyphicon glyphicon-triangle-right"></span>Run</a></li>
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li> -->
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div id="editor">{% if code %}{{ code }}{% else %}// =========================================================================
// =                    Welcome to Browser Graphics!                       =
// =========================================================================

// This is a platform intended to easily allow introductory level programmers
// to write animations that they can share share with the world! It is designed
// for students taking the 15-112 intro to CS course in python which
// can be found here: www.cs.cmu.edu/~112/

// The programming paradigm is based on event-based animation which
// you can read more of here: 
// http://www.cs.cmu.edu/~112/notes/notes-animations.html

// HOW TO USE:
//      Simply write your code in this editor.
//      
//      RUNNING CODE: 
//          Either press the "Run" button or do "ctrl/cmd-B".
//
//      SAVING CODE:
//          To save a project, press the "save" or do "ctrl/cmd-S"
//
//          The first time you save it will ask you for a project name
//          as well as a password. Once you enter in the information you
//          will be redirect to your unique project-url which you will
//          use at 
//
//                  browsergraphics.com/-project_name-/edit.
//
//          The URL will ask you for the password before allowing you
//          to edit, meaning that only you or people with the password will
//          be allowed to edit.
//
//          One you have created a project, subsequent saves will just
//          save the code to your project, the URL will not change.
//
//      SHARING PROJECT:
//          To share your project with your friends and family, simply link
//          them to the url:
//              
//                  browsergraphics.com/-project_name-
//
//          This will get rid of the editting functionality and be a full
//          screen web animation for you to show off :)

function init(data) {
    // initialize your data here! data is an empty object you can
    // put whatever you want in it.
    data.cx = 150;
    data.cy = 150;
    data.r = 100;
    data.cv = 5;
    data.rectX = 300;
    data.rectY = 200;
    data.rectW = 100;
    data.rectH = 100;
    data.rv = 5;
    data.x = data.width / 2;
    data.y = data.height / 2;
    data.framesSkip = 1
    console.log(data);
}

function timerFired(data, frameCount) {
    // called in a loop a certain number of times per second based
    // on this formula: 60 / data.framesSkip.
    // data.frameSkip is initialized to 20 so timerFired is called 3
    // times per second be default. Change data.frameSkip if necessary
    data.cx += data.cv;
    if (data.cx + data.r > data.width || data.cx - data.r < 0) data.cv *= -1;
    data.rectY += data.rv;
    if (data.rectY + data.rectH > data.height || data.rectY < 0) data.rv *= -1;
}

function mousePressed(data, event) {
    // fired when a click event on the canvas occurs.
    // the event variable has a lot, but most useful is event.x and event.y
    var x = event.x;
    var y = event.y;
    var cx = data.cx;
    var cy = data.cy;
    var r = data.r;
    var d = ((x - cx) ** 2 + (y - cy) ** 2) ** 0.5;
    if (d < r) data.cv *= -1;
}

function keyPressed(data, event) {
    // fired whenever the user uses the key board
    // print out event to see all the click event details, but
    // most useful is event.key and event.keycode
    if (event.key == "ArrowUp") {
        data.y -= 20;
    } else if (event.key == "ArrowDown") {
        data.y += 20;
    } else if (event.key == "ArrowLeft") {
        data.x -= 20;
    } else if (event.key == "ArrowRight") {
        data.x += 20;
    }
}

function redrawAll(data) {
    // do the drawing here! This is called whenever an event fires for
    // mouse/click and also on each timerFired call.
    create_oval(data.cx-data.r, data.cy-data.r, data.cx+data.r,
        data.cy+data.r, {fill: '#FF8000', outlineColor: 'orangered', outline: 5})
    create_rect(data.rectX, data.rectY, data.rectX + data.rectW,
        data.rectY + data.rectH, {fill: 'rgba(0, 200, 255, 0.75)', outlineColor: '#1C75BC'})
    create_oval(data.x-data.r, data.y-data.r, data.x+data.r,
        data.y+data.r, {fill: '#FF0000', outlineColor: 'red', outline: 5})
}{% endif %}</div>
        <div id="canvas"></div>
        <div id="click-layer"></div>
        <div id="uuid" data-uuid="{{uuid}}"></div>
        <div id="pw" data-pw=""></div>
        <div class="modal fade" tabindex="-1" id="myModal" role="dialog" aria-labelledby="gridSystemModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Save your code!</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-10 col-md-1-offset">
                      <form class="form-inline saveForm">
                          <div class="form-group has-error">
                            <label for="exampleInputEmail1">browsergraphics.com/</label>
                            <input type="text" class="form-control" id="program-name" placeholder="cool-name">
                          </div>
                      </form>
                      <form class="form-horizontal saveForm">
                          <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control" id="program-pw" placeholder="Pick one!">
                            </div>
                          </div>
                      </form>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="saveModalSaveBtn" class="btn btn-primary">Save</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <button style="display: none;" id="saveModal" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Launch demo modal
        </button>

        <button type="button" class="btn btn-primary" id="passwordModalBtn" data-toggle="modal" data-target="#passwordModal" style="display:none;">Small modal</button>

        <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="passwordModal" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Enter the Password</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                    <div class="col-md-10 col-md-1-offset">
                        <form class="form-horizontal pw-form">
                          <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control" id="enter-pw" placeholder="**********">
                            </div>
                          </div>
                        </form>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" id="pwModalBtn" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript" src="{% static 'js/setupAnimation.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/runAnimation.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/112inbrowser.js' %}"></script>
    </body>
</html>