{% load staticfiles %}
<html>
    <head>
        <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/two.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ace-builds/src-noconflict/ace.js' %}"></script>
        <style>
            #editor {
                margin: 0;
                position: absolute;
                top: 50px;
                left: 50%;
                width: 50%;
                height: calc(100% - 50px);
            }

            #canvas {
                z-index: 2;
                width: 50%;
                height: calc(100% - 50px);
                position: absolute;
                top: 50px;
                left: 0;
            }

            #click-layer {
                z-index: 1000;
                position: absolute;
                width: 50%;
                height: calc(100% - 50px);
                top: 50px;
                left: 0;
            }

            .button-icon {
                margin-right: 10px;
            }

            .navbar-default .navbar-nav>li>a:hover {
                background-color: #e7e7e7;
            }
        </style>
    </head>

    <body style="margin: 0;">
        <nav class="navbar navbar-default ">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Browser Graphics</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li> -->
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:saveCode(editor)"><span class="button-icon glyphicon glyphicon-floppy-save"></span>Save</a></li>
                <li><a href="javascript:runCode(editor)"><span class="button-icon glyphicon glyphicon-triangle-right"></span>Run</a></li>
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li> -->
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div id="editor">{{ code }}</div>
        <div id="canvas"></div>
        <div id="click-layer"></div>
        <div id="uuid" data-uuid="{{uuid}}"></div>
        <div id="pw" data-pw=""></div>
        <div class="modal fade" tabindex="-1" id="myModal" role="dialog" aria-labelledby="gridSystemModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Save your code!</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-10 col-md-1-offset">
                      <form class="form-inline saveForm">
                          <div class="form-group has-error">
                            <label for="exampleInputEmail1">browsergraphics.com/</label>
                            <input type="text" class="form-control" id="program-name" placeholder="cool-name">
                          </div>
                      </form>
                      <form class="form-horizontal saveForm">
                          <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control" id="program-pw" placeholder="Pick one!">
                            </div>
                          </div>
                      </form>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="saveModalSaveBtn" class="btn btn-primary">Save</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <button style="display: none;" id="saveModal" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Launch demo modal
        </button>

        <button type="button" class="btn btn-primary" id="passwordModalBtn" data-toggle="modal" data-target="#passwordModal" style="display:none;">Small modal</button>

        <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="passwordModal" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Enter the Password</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                    <div class="col-md-10 col-md-1-offset">
                        <form class="form-horizontal pw-form">
                          <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                              <input type="password" class="form-control" id="enter-pw" placeholder="**********">
                            </div>
                          </div>
                        </form>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" id="pwModalBtn" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript" src="{% static 'js/setupAnimation.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/runAnimation.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/112inbrowser.js' %}"></script>
    </body>
</html>